/* GENERAL / ACCUEIL */

html {
	background :#F4F4F4;
	
}

*{
	padding: 0px;
	margin : 0px;		
}

header {
	width : 80%;
	margin-left: 10%;
}
.flex-espace{
	float : left;
	width : 19%;
	margin-left : 2%;
	margin-top: 1.5%;
}


#menu {
    background: #8DB7FE;
    height: 12%;
    border-radius: 15px;
	position: fixed;
	width: 80%;
}

#menu ul {
    width: 60%;
    float : right;
	margin-top: 1.5%;
}
#menu li {
	float: left;
    display: inline;
    position: relative;
	margin-right: 4%;
	font-size:90%;
}
#menu a {
    display: block;
    line-height: 50px;
    padding: 0 14px;
    text-decoration: none;
    color: Black;

}

#menu li a:hover {
    color: #0099CC;
    background: #F2F2F2;
}

body {
	display: table;
	width: 100%;
	
}

p {
	font-size: 110%;
	
}

.image1 { 
	float:left;
	width: 150px ;
	height:150px ;
	margin: 0px 0px 2% 5%;
}

.image2 {
	float:right;
	width: 150px ;
	height:150px ;
}

h1{
	text-align: center;
	color : Black;
	margin: 10% 0 3% 0;
	font-size: 150%;
	font-family:cursive;

}

#content {
	width : 80%;
	margin-left: 10%;
	background: white;
	border:solid;
	border-radius: 40px;
	border-color:transparent;
	margin-bottom: 2%;
}

h2{
	text-align: center;
	color : #035DB4;
	margin: 2% 0px 2% 0px;
	font-size: 125%;
	font-family:cursive;

}

.Texte-menu1{
	font-size: 100%;
	margin: 0px 10% 0px 20%;
	font-family:Arial;
}

.Texte-menu2{
	font-size: 100%;
	margin: 2% 10% 0px 20%;
	font-family:Arial;

}


p a {
	text-decoration: italic; 
	color: #0077b6;
	
}

.class1 {
	align-content: auto ;
	justify-content: space-around;
	display: inline-block;
	font-size: 0,5rem;
 }

hr {
	margin: 2% 0px 0% 25%;
	height: 3px;
	background-color: black;
	border: none;
	width: 50%;	
}

footer{
	background:#E7E7E7;
	margin-bottom:5%;
	display : table-row;
	width:100%;
	height: 90%;
}

footer ul {
	list-style-type : none;
	font-size: 70%;
	margin:3% 0% 4% 20%;
	padding: 0;	
}

footer ul li {
	margin-bottom : 2%;
}

.flex-footer {
	display: flex;
	width: 100%;
	bottom:0;
	margin-left: 0px;
	
}

.text-footer {
	flex-basis: 80%;
}

.iut {
	float: right;
	margin-top: 15%;
	padding: 0;
	max-width: 90%;
	height: auto;
}

.vers_le_haut {
    float:right;
    width: 35px;
    height: 35px;
	position: fixed;
}

.scrollup{
	position:fixed;
    width:32px;
    height:32px;
	bottom:20px;
	right:20px;
	position:fixed;
	margin-bottom: 3%;
}

.video{
	margin: 3% 0% 2% 30%;
	
}

.Texte {
	width: 90%;
	margin-left : 5%;
	margin-top : 1%;
}
 

/* PAGE LUNETTES */

.lunetteintro {
	text-align: center;
	color : Black;
	margin: 10% 0 3% 0;
	font-size: 150%;
	font-family:Arial;
}
.center { 
	text-align: center;
	font-weight: bold;
}

.lunettesanté{
	width: 90%;
	margin-left : 5%;
	margin-top : 1%;
}
.Boselunette {
	float:center
}
 
.lunettetravail {
	width: 90%;
	margin-left : 5%;
	margin-top : 1%;
}
}

.lunettedivertissment {
	
	color : Black;
	font-size: 100%;
	font-family:Arial;
	font-size: 100%;
	margin: 0px 10% 0px 20%;
	text-align:left;
}


table{
  border-collapse: collapse;
  margin: auto;
}

td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.img {
    max-width: 290px;
    max-height: 290px;
}

figcaption {
  
  color: black;
  font-style: italic;
  padding: 1px;
  text-align: left;
  display: block;
  
}

.figuremalvoyant {
	caption-side: top;
	margin-left: 30%;
	margin-top: 2%;
}

.malvoyant {
	width: 25%;
}

.captionmalvoyant { 
	font-style: Italic;
	font-size: 90%;	
	margin-left: 2%;
}

.figurecitroen {
	caption-side: top;
	margin-left: 30%;
	margin-top: 2%;
}

.citroenlunette { 
	width: 25%;
}

.captioncitroen {
	font-style: Italic;
	font-size: 90%;	
	margin-left: 2%;
	
}
.figureprudensee {
	caption-side: top;
	margin-left: 30%;
	margin-top: 2%;
}

.prudensee {
	width: 25%;
}

.captionprudensee {
	font-style: Italic;
	font-size: 90%;	
	margin-left: 2%;
}

.figureAuctify {
	width: 90%;
	margin-left : 6%;
	margin-top : 2%;
}
.Auctifylunette {
	width: 30%;
	float:left;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
 

.figureAlto1 {
	caption-side: top;
	margin-left: 10%;
	margin-top: 2%;
}

.BoseAlto {
	width: 30%;
	float:center;
	width: 40%;
	float:center;
	
}

.captionAlto1 {
	font-style: Italic;
	font-size: 90%;	
	
 }


.figurealto {
	width: 90%;
	margin-left : 6%;
	margin-top : 2%;
}
.BoseAltobranche { 
	width: 30%;
	float:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.captionalto {
	font-style: Italic;
	font-size: 90%;	
	margin-left:35%;
}
.figureBose1 {
	width: 90%;
	margin-left : 5%;
	margin-top : 1%;
}

.Bose1 {
	width: 30%;
	float:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.captionBose1 {
	font-style: Italic;
	font-size: 90%;	
	margin-left:35%;
}

.Boselunettesport {
	width: 40%;

}

 .figureLunettesport {
	caption-side: top;
	margin-left: 10%;
	margin-top: 2%;
 }
 
 .captionLunettesport {
	font-style: Italic;
	font-size: 90%;	
	margin-left: 30%;
	
}

 .figureeveryraptor {
	caption-side: top;
	margin-left: 10%;
	margin-top: 2%;
 }
 
 .everyraptor{
	width: 40%;
	
}

 
 
.captioneveryraptor {
	font-style: Italic;
	font-size: 90%;	
	margin-left:35%;
 }

.plusinfo {
	width: 80%;
	font-size: 110%;
	margin-left: 10%;
	margin-top: 1%;
	list-style: unset;	
}

/* PAGE LENTILLES */


 .H3Lentille {
	margin-left: 4%;
	margin-top: 5%;
	font-size: 130%;
 }
 
 .figureLentille{
	caption-side: top;
	margin-left: 25%;
	margin-top: 2%;
 }
 
.imageLentille {
	width: 50%;
}

.captionLentille {
	font-style: Italic;
	font-size: 90%;	
	margin-left: 2%;
}

 .figureLentille2{
	caption-side: top;
	margin-left: 18%;
	margin-top: 2%;
 }
 
.imageLentille2 {
	width: 25%;
}

.imageLentille3 {
	width: 55%;
}

 .figureLentille3{
	caption-side: top;
	margin-left: 10%;
	margin-top: 2%;
 }
 
.imageLentille3 {
	width: 40%;
}

.captionLentille3 {
	font-style: Italic;
	font-size: 90%;	
}
 
 .imageLentille4 {
	width: 65%;
}
 
.Liste {
	width: 80%;
	font-size: 110%;
	margin-left: 10%;
	margin-top: 1%;
	list-style: unset;
}

/* PAGE NANO-GOUTTE */

CSS :

.imagemyopie {
	width: 560px;
	height: 290px;
}

.imagehyper {
	width: 560px;
	height: 300px;
}

.imagelaser {
	margin: 0px 0px 0% 30%;
	width: 400px;
	height: 215px;
}

.imagegoutte {
	margin: 0px 0px 0% 30%;
	width: 400px;
	height: 215px;
}



.figmyope {
	font-style: Italic;
	font-size: 90%;	
	text-align: center;
	caption-side: bottom;
	
}


.figlaser{
	font-style: Italic;
	font-size: 90%;	
	text-align: center;
	caption-side: bottom;
	margin-bottom: 5%;
}
.figgoutte {
	font-style: Italic;
	font-size: 90%;	
	text-align: center;
	caption-side: bottom;
	margin-bottom: 5%;
}
 
